body {
    background-color: rgb(252, 117, 232);
    margin: 0;
    font-family:'Inter';
}

header {
    margin: 2em;
    display: flex;
    justify-content: space-between;
    margin-left: 2em;
}

.projectloadingscreen {
    width: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top: 40em;
    margin-left: 40em;
    scale: 200%;
}